
.casillero  {
    border: 1px solid darkgray;
    color:white;
    text-align: center;
    font-family: Arial;
    font-size: 150%;
    transition: background-color 250ms linear
}

.salio {
    background-color: #882faf
}

.noSalio {
    background-color: #2faf4d
}

#arriba{
    height:50vh;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding-top:20px;
    flex-grow: 2;
}

#abajo{
    width: 75%;
}
body{
    background-image: url("img/fondo.jpg");
    background-size: 100% 100%;
}
#App{
    padding:2%;
    display:flex;
    flex-direction: column;
    height: 89vh;
    justify-content:space-around;
}
#Webcam{
    width:40%;
}
#TablaBingo{
    width:50vh
}

#ultimos{
    height:100pt;
}
.item{
    font-size:100pt;
    transition: font-size 250ms linear,color 250ms linear;
    color:#882faf;
    margin-left:20px;
    margin-right:20px;
    font-family: Arial;
}
.item:not(:last-child){
    font-size:30pt;
    color:#2faf4d
}
.item:nth-last-child(2){
    font-size: 70pt;
}
.item:nth-last-child(3){
    font-size: 50pt;
}

.numeros-leave{
    opacity: 0.01;
    transition: opacity 250ms ease-in;
}
.numeros-enter{
    font-size:0pt;
}
.numeros-enter.numeros-enter-active{
    transition: font-size 250ms ease-out;
    font-size: 100pt;
}